<%= form_for(@langual_factor) do |f| %>
  <% if @langual_factor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@langual_factor.errors.count, "error") %> prohibited this langual_factor from being saved:</h2>

      <ul>
      <% @langual_factor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
